<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <meta property="twitter:account_id" content="4503599627382914" />

	<title><%= content_for?(:title) ? yield(:title) : "Rogue Rails: An Agile Rails 4 Workshop and Conference" %></title>

  <%= favicon_link_tag "favicon.ico" %>

	<!-- Included CSS Files -->
	<%= stylesheet_link_tag "application" %>
	<link rel="stylesheet" id="vertex-fonts-css" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,300,700,800|Raleway:400,200,100,500,700,800&amp;subset=latin,latin-ext" type="text/css" media="all">

  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5HM8JK"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5HM8JK');</script>
  <!-- End Google Tag Manager -->

  <%= yield %>

  <!-- Included JS Files  -->
	<%= javascript_include_tag "application" %>

  <%= yield :footer_scripts %>
</body>
</html>
